.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.yarnrc.yml
.yarn/**
.pnp.*
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.claude/**
quick-lint-js.config
yarn.lock
